.section {
    width: 100vw;
    height: 100vh;
}

#login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:radial-gradient(#4b5563,#111827);
}

#soldier-logo {
    margin-top: 100px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#login-form {
    margin-top: 100px;
    margin-left: 290px;
}

.form-title {
    color: white;
}

.form-separator {
    width: 2px;
    height: 150px;

    margin-left: 10px;
    margin-right: 10px;

    background-color: white;
    border-radius: 5px;
}

.form-inner {
    display: flex;
    flex-direction: column;
}

.form-input {
    width: 200px;
    height: 35px;

    margin-top: 5px;
    margin-bottom: 5px;

    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fb923c;
}

.form-input:focus {
    outline: none;
}

.form-submit {
    align-self: center;

    width: 75px;
    height: 35px;

    margin-top: 10px;

    color: white;
    background-color: transparent;
    border: 1px solid #fb923c;
    border-radius: 5px;
}

.form-submit:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-prompt {
    color: white;
    opacity: 85%;
}

#password-prompt {
    margin-top: 30px;
    margin-left: 200px;
}

#signup-prompt {
    margin-left: 220px;
}

.form-link {
    color: #fb923c;
    text-decoration: none;
}

.form-link:hover {
    color: #fb923c;
}

.show-pw-img {
    width: 20px;
    height: 20px;
}

.show-pw-img:hover {
    cursor: pointer;
}