.section {
    width: 100vw;
    height: 100vh;
}

#login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200rem;
    height:400rem;
    background:radial-gradient(#406882,#1A374D);
    image: url(../Landing/transition.jpg);        
}

#login-title {
    margin-top: 200px;
    color: #B1D0E0;    
}

.mb-3{
    margin-top:700px;
    width:300px;
    margin-left:50rem;
      
}

.form-control {
    background-color:#B1D0E0;        
    height:25px;
    width:300px;
}

.top-form{
    margin-right: 100rem;
}

.top-box{
    width: 10rem;
    height: 50rem;
    /* background-color:#406882; */
    margin-right: 150rem;
    height:40rem;    
}

.top-picture{    
    margin-left:29rem;
    position:relative;
    bottom:65.0rem;
    height:40.75rem;
    
        
}
.btn{
    margin-left:50rem;
}

#button2{
    position:relative;
    left:85px;
    bottom:2.5rem;
}
#button3{
    position:relative;
    left: 12rem;  
    bottom:6.4rem;  
}



